
<div class="container w">
  <% slides.each do |slide| %>
  <div>
    <div class="col-lg-4 slide_container">
      <div class="slide-font">
        <%= slide.name %>
      </div>
      <% if from == 'modal' %>
        <a href="#" class='add_this_slide' data-id='<%= slide.id %>'>
      <% else %>
        <a href="#" class='inspect_this_slide' data-id='<%= slide.id %>' data-toggle="modal" data-target="#inspectSlide">
      <% end %>
          <img src="<%= slide.file.thumb.url %>" class="img-thumbnail img-responsive" alt="<%= slide.name %>" width="304" height="236">
      </a>
    </div>
  </div>
  <% end %>
</div>

<center>
<div class="pagination_link_container">
  <%= will_paginate slides %>
</div>
</center>
