<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <img src="<%= current_user.portrait_url %>" class='portrait'>

        <h4><b>My Liked Slides</b></h4>

      <%= render :partial => '/users/account_panel_links' %>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- blue wrap -->

<div class="container">
  <div class="row centered">
    <div class="col-lg-12">
      <h1>My Liked Slides</h1>
      <% current_user.slide_likes.each do |sl| %>
      <% slide = sl.slide %>
        <div id='slide_container_for_slide_<%= slide.id %>'>
          <div class="col-lg-4 slide_container">
            <div class="slide-font">
              <%= slide.name %>
            </div>
              <a href='#' class='inspect_this_slide' data-id='<%= slide.id %>' data-toggle="modal" data-target="#inspectSlide">
              <img src="<%= slide.file.thumb.url %>" class="img-thumbnail img-responsive" alt="<%= slide.name %>" width="304" height="236">
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div><!-- row -->
</div><!-- container -->





<!-- Edit Modal -->
<div id="editSlideShowModal" class="modal fade" role="dialog"></div>
<script src='/my_account.js'></script>

<style>
  .slide_container {
    width: 150px;
    height: 170px;
  }

  .slide_container .slide-font {
    font-size: 10px;
  }

  .slide_to_add {
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow: scroll;
  }
</style>
