<div class="container w">
    <% slideshows.each do |slideshow| %>
    <% next if !slideshow.public && context_page == 'general' %>
      <div class="col-lg-4">
        <p>
          <%= slideshow.name %>
          <% if context_page == 'account' %>
            (<a href="#" class='edit-this-show' data-id='<%= slideshow.id %>' class="btn btn-info btn-lg" data-toggle="modal" data-target="#editSlideShowModal">Edit</a> | <a href="#" class='edit-this-show' data-id='<%= slideshow.id %>'>Delete</a>)
          <% end %>
        </p>
        <a href="#" class='start_study' data-id='<%= slideshow.id %>' data-toggle="modal" data-type='indiv' data-target="#drawModal">
          <img src="<%= slideshow.preview %>" class="img-thumbnail img-responsive" alt="<%= slideshow.name %>" width="304" height="236">
        </a>
      </div><!-- col-lg-4 -->
    <% end %>

</div><!-- container -->
<center>
  <div class="pagination_link_container">
    <%= will_paginate slideshows %>
  </div>
<% if !current_user %>
<hr>
  <a href="#" class='regen_rand_free btn btn-primary btn-lg' data-id='' data-toggle="modal" data-type='random' data-target="#drawModal">Regen Random Sets</a>


<% end %>
</center>
