
<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">

        <h4><b><%= @slideshow.name %></b></h4>
        <img src="<%= @slideshow.user.portrait_url %>" class='portrait'>
         <br>
        <p>
        By: <%= @slideshow.user.name %> <br>
        created at <%= @slideshow.created_at.strftime('%D') %> <br>
        updated at <%= @slideshow.updated_at.strftime('%D') %> <br>
        slides: <%= @slideshow.slides.count %>
      </p>

      <center>
        <a href="#" class='start_study btn btn-primary btn-lg' data-id='<%= @slideshow.id %>' data-toggle="modal" data-type='indiv' data-target="#drawModal">Start Study</a>
      </center>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- blue wrap -->

<div class="container w">
  <% @slideshow.slides.each do |slide| %>
  <div>
    <div class="col-lg-4 slide_container">
      <div class="slide-font">
        <%= slide.name %>
      </div>
        <a href="#" class='inspect_this_slide' data-id='<%= slide.id %>' data-toggle="modal" data-target="#inspectSlide">
          <img src="<%= slide.file.thumb.url %>" class="img-thumbnail img-responsive" alt="<%= slide.name %>" width="304" height="236">
      </a>
    </div>
  </div>
  <% end %>
</div>

<style>
  .slide_container {
    height: 300px;
  }
</style>