<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slideshow.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @slideshow.user_id %>
</p>

<%= link_to 'Edit', edit_slideshow_path(@slideshow) %> |
<%= link_to 'Back', slideshows_path %>
