  <% chatrooms.each do |chatroom| %>
    <div class="chatroom_container">
      <h4>
      	<%= chatroom.title %>
      	<a href='/chatrooms/<%= chatroom.id %>' id='<%= chatroom.id %>' class="join_this_room btn btn-info btn-sm">Join</a>
      	<% if current_user.id == chatroom.user_id %>
	      	<a href='#' room_id='<%= chatroom.id %>' class="delete_this_room btn btn-danger btn-sm">Close</a>
      	<% end %>
      </h4>
      <p class='chatroom_desc'><%= chatroom.description %></p>
    </div>
  <% end %>