 <div class="dialog_row container row_<%= connection_id %>" connection_id='<%= connection_id %>' style="display: <%= display_pointer %>">
	<div class="col-lg-2 chat_avatar_container" style='display: inline-block;'>
		<img src="<%= mess.user.portrait_url %>" class='chat_avatar' alt='<%= mess.user.name %>'>
		<div class="name_bubble"><%= mess.user.name %></div>
	</div>
	<div class="col-lg-10 chat_bubble" style='display: inline-block;'>
		 <%= mess.content %> 
	</div>
</div>
