<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='/draw.js'></script>
    <% if @slideshow %>
      <meta property="og:title" content="<%= @slideshow.name %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <% @slideshow.rand_preview.each do |image| %>
        <meta property="og:image" content="<%= @slideshow.image.file.thumb.url %>" />
        <link rel="image_url" href="<%= image.file.thumb.url %>">
      <% end %>
    <% end %>


    <title>Daily Quick Studies</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/main.css" rel="stylesheet">
    <link href="/overwrite.css" rel="stylesheet">
    <link href="/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class='start_study_random btn btn-success btn-lg' data-id='' data-toggle="modal" data-type='random' data-target="#drawModal">Draw Random Slides</a>
          <% if its_halloween_time? %>
            <a href="#" class='start_study_season' data-id=''><img src='/halloween.png' class='season_pic'></a>
          <% end %>
        </div>
        <div class="message-center message-center-success btn btn-success btn-lg" id='state-message-center'></div>
        <div class="message-center message-center-error btn btn-success btn-lg" id='state-message-center'></div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li class="<%= @page == 'home' ? 'active' : '' %>"><a href="/slideshows">SLIDESHOWS</a></li>
              <li class="<%= @page == 'slides' ? 'active' : '' %>"><a href="/slides">SLIDES</a></li>
              <li class="<%= @page == 'account' ? 'active' : '' %>"><a href="/users/my_account" >ACCOUNT</a></li>
              <li><a href="/user_log_out_route/sign_out">Log out</a></li>
            <% elsif @page != 'welcome' %>
              <a class="fblogin btn btn-lg" href="/users/auth/facebook">
                <img src='/fb.png' class='fb-login-icon'>
                Login
              </a>

            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<%= yield %>

    <!-- Draw Modal -->
    <div id="drawModal" class="modal fade" role="dialog">
      <!-- slides selector -->
    <div id="slidesSelectorModal" class="modal fade" role="dialog"></div>

    </div>
    <div id="pose_window_container"></div>

  </body>





<!-- Create Slide Modal -->
<div id="createSlideModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload New Slides<span id="prog_report"></span></h4>
      </div>
      <div class="modal-body">
        <div id="progress_message" style='display:none'>Currently Uploading...</div>
        <%= form_tag(slides_path, method: "POST", class: "create-new-slide-form") do %>
        <div class="form-group">
          <label for="name">Name Slides (leave black for default filename)</label>
          <input type="text" name='name' class='form-control'>
        </div>
        <div class="form-group">
          <label for="name">Tag Slides (seperate tags with commas)</label>
          <input type="text" name='tags' class='form-control'>
        </div>
          <div class="form-group">
            <%= file_field_tag :picture, :multiple => true, :class => 'form-control' %>
          </div>
          <input type="submit" value='Upload'>
        <% end %>

      <div id="uploaded_so_far"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-75075620-1', 'auto');
ga('send', 'pageview');

</script>



<!-- Create Modal -->
<div id="createSlideShoeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Slideshow</h4>
      </div>
      <div class="modal-body">

        <%= form_tag(create_show_slideshows_path, method: "POST", class: "create-new-slideshow-form") do %>
          <div class="form-group">
            <label for="name">Slideshow Name</label>
            <input type="text" name="name" class='form-control'>
          </div>
          <div id="slide_to_add" class='slide_to_add form-group'></div>
        <% end %>

        <div class="form-group">
          <input type="text" name="search_slides" placeholder='Search for slides' id='slide_search_input' class='form-control' slideshow-id=''>
        </div>
        <div id="slide_results_panel" class='slide_results_panel'></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default create-slideshow-button" data-dismiss="modal">Create</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Inspect Slide Modal -->
<div id="inspectSlide" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%=  %><span id="prog_report"></span></h4>
    </div>
    <div class="modal-body">
      <img src="<%=  %>" alt="">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

  </div>
</div>


<script src='/center.js'></script>

</html>
<% if its_halloween_time? %>
  <style>
    #blue {
    background: #ef7300;
  }
  </style>
<% end %>

<style>
/*  .image-bg-fluid-height {
    width: 100%;
    height: 400px;
    background: url('/hero_images/male_dancer.png') no-repeat center center scroll;
    background-attachment: fixed;
    padding: 0;
}
*/
</style>