<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script>


    <script src='/draw.js'></script>
    <% if @slideshow %>

      <meta property="og:title" content="<%= @slideshow.name %>" />
      <meta property="og:description" content="<%= @slideshow.head_image %>" />
      <meta property="fb:app_id" content="<%= ENV["APP_ID"] %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <% @slideshow.rand_preview.each do |image| %>
        <meta property="og:image" content="<%= image.file.thumb.url %>" />
        <link rel="image_url" href="<%= image.file.thumb.url %>">
      <% end %>
    <% end %>


    <title>Daily Quick Studies</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/main.css" rel="stylesheet">
    <link href="/overwrite.css" rel="stylesheet">
    <link href="/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src='/global.js'></script>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class='start_study_random btn btn-success btn-lg' data-id='' data-toggle="modal" data-type='random' data-target="#drawModal">Random Slides</a>
          <% if current_user %>
            <a href="#" id='list_chat_rooms' class="list_chat_rooms btn btn-info btn-lg"><i class="fa fa-comment" aria-hidden="true"></i></a>
          <% end %>

        </div>
        <div class="message-center message-center-success btn btn-success btn-lg" id='state-message-center'></div>
        <div class="message-center message-center-error btn btn-success btn-lg" id='state-message-center'></div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li class="<%= @page == 'home' ? 'active' : '' %>"><a href="/slideshows">SLIDESHOWS</a></li>
              <li class="<%= @page == 'users' ? 'active' : '' %>"><a href="/users?page=1">ARTISTS</a></li>
              <li class="<%= @page == 'slides' ? 'active' : '' %>"><a href="/slides">SLIDES</a></li>
              <li class="<%= @page == 'account' ? 'active' : '' %>"><a href="/users/my_account" >ACCOUNT</a></li>
              <li><a href="/user_log_out_route/sign_out">Log out</a></li>
            <% elsif @page != 'welcome' %>
              <a class="fblogin btn btn-lg" href="/users/auth/facebook">
                <img src='/fb.png' class='fb-login-icon'>
                Login
              </a>

            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="col-lg-1 to-the-side-bar">
    </div>
    <div class="main-the-bar col-lg-10">
      <%= yield %>
    </div>
    <div class="col-lg-1 to-the-side-bar">
    </div>

    <!-- Draw Modal -->
    <div id="drawModal" class="modal fade" role="dialog">
      <!-- slides selector -->
    <div id="slidesSelectorModal" class="modal fade" role="dialog"></div>

    </div>
    <div id="pose_window_container"></div>

  </body>



<!-- Create Slide Modal -->
<div id="createSlideModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload New Slides</h4>
      </div>
      <div class="modal-body">
        <div id="progress_message" style='display:none'>Currently Uploading...</div>
        <%= form_tag(slides_path, method: "POST", class: "create-new-slide-form") do %>
        <div class="form-group">
          <label for="name">Name Slides (leave black for default filename)</label>
          <input type="text" name='name' class='form-control'>
        </div>
        <div class="form-group">
          <label for="name">Tag Slides (seperate tags with commas)</label>
          <input type="text" name='tags' class='form-control'>
        </div>
          <div class="form-group">
            <%= file_field_tag :picture, :multiple => true, :class => 'form-control' %>
          </div>
          <input type="submit" value='Upload'>
        <% end %>
      <p><span id="prog_report"></span></p>
      <div id="uploaded_so_far"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-75075620-1', 'auto');
ga('send', 'pageview');

</script>



<!-- Create Modal -->
<div id="createSlideShoeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Slideshow</h4>
      </div>
      <div class="modal-body">

        <%= form_tag(create_show_slideshows_path, method: "POST", class: "create-new-slideshow-form") do %>
          <div class="form-group">
            <label for="name">Slideshow Name</label>
            <input type="text" name="name" class='form-control'>
          </div>
          <div id="slide_to_add" class='slide_to_add form-group'></div>
        <% end %>

        <div class="form-group">
          <input type="text" name="search_slides" placeholder='Search for slides' id='slide_search_input' class='form-control' slideshow-id=''>
        </div>
        <div id="slide_results_panel" class='slide_results_panel'></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default create-slideshow-button" data-dismiss="modal">Create</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Inspect Slide Modal -->
<div id="inspectSlide" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%=  %><span id="prog_report"></span></h4>
    </div>
    <div class="modal-body">
      <img src="<%=  %>" alt="">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

  </div>
</div>



</html>
<% if its_halloween_time? %>
  <style>
    #blue {
    background: #ef7300;
    width: 100%;
  }

  </style>
<% end %>

<script type="text/javascript">
// like slide logic
  $('body').on('click', '.like-this-slide', function(event) {
     event.preventDefault();
    
     // var that = this;
     var that = $('.like_slide_button_container_for_' + $(this).attr('slide-id'));
     $.ajax({
       url: '/slide_likes',
       type: 'post',
       data: {slide_id: $(this).attr('slide-id')},
     })
     .done(function(data) {
      if (data.message == 'success') {
        $(that).css('backgroundColor', '#debaba');
        $(that).removeClass('like-this-slide');
        $(that).addClass('unlike-this-slide');
        $(that).find('i').attr('style','color: #ff4343; font-size: 20px;');
        $(that).attr('style','background-color: transparent; color: #ff4343; width: 5%; padding-left: 3px');
        if ($('#slide_container_for_slide_' + $(that).attr('slide-id'))) {
          $('#slide_container_for_slide_' + $(that).attr('slide-id')).show(500);
        }

      }
     })
   });

  $('body').on('click', '.unlike-this-slide', function(event) {
     event.preventDefault();
    
     // var that = this;
     var that = $('.like_slide_button_container_for_' + $(this).attr('slide-id'));
     $.ajax({
       url: '/slide_likes/unlike_slide',
       type: 'delete',
       data: {slide_id: $(this).attr('slide-id')},
     })
     .done(function(data) {
      if (data.message == 'success') {
        $(that).removeAttr('style');
        // $(that).find('i').removeAttr('style');
        $(that).find('i').attr('style', 'color:black;');
        $(that).removeClass('unlike-this-slide');
        $(that).addClass('like-this-slide');
        if ($('#slide_container_for_slide_' + $(that).attr('slide-id')).attr('current_page') == 'liked_slides') {
          $('#slide_container_for_slide_' + $(that).attr('slide-id')).hide(500);
        }
      }
     })
   });

  // like sketches logic

  $('body').on('click', '.like-this-sketch', function(event) {
     event.preventDefault();
    
     // var that = this;
     var that = $('.like_slide_button_container_for_' + $(this).attr('sketch-id'));
     $.ajax({
       url: '/sketch_likes',
       type: 'post',
       data: {slide_id: $(this).attr('sketch-id')},
     })
     .done(function(data) {
      if (data.message == 'success') {
        $(that).css('backgroundColor', '#debaba');
        $(that).removeClass('like-this-sketch');
        $(that).addClass('unlike-this-sketch');
        $(that).find('i').attr('style','color: #ff4343; font-size: 20px;');
        $(that).attr('style','background-color: transparent; color: #ff4343; width: 5%; padding-left: 3px');
        if ($('#slide_container_for_slide_' + $(that).attr('sketch-id'))) {
          $('#slide_container_for_slide_' + $(that).attr('sketch-id')).show(500);
        }

      }
     })
   });

  $('body').on('click', '.unlike-this-sketch', function(event) {
     event.preventDefault();
    
     // var that = this;
     var that = $('.like_slide_button_container_for_' + $(this).attr('sketch-id'));
     $.ajax({
       url: '/sketch_likes/unlike_sketch',
       type: 'delete',
       data: {slide_id: $(this).attr('sketch-id')},
     })
     .done(function(data) {
      if (data.message == 'success') {
        $(that).removeAttr('style');
        // $(that).find('i').removeAttr('style');
        $(that).find('i').attr('style', 'color:black;');
        $(that).removeClass('unlike-this-sketch');
        $(that).addClass('like-this-sketch');
        if ($('#slide_container_for_slide_' + $(that).attr('sketch-id')).attr('current_page') == 'liked_sketch') {
          $('#slide_container_for_slide_' + $(that).attr('sketch-id')).hide(500);
        }
      }
     })
   });

  $('body').on('click', '.inspect_this_sketch', function(event) {
    event.preventDefault();
    var sktch_id = $(this).attr('data-id');
    $.ajax({
      url: '/sketches/get_sketch_image',
      data: {sketch_id: sktch_id},
    })
    .done(function(data) {
      // $('#sketch-inspect-image').attr('src', data.url);
      // $('.sketch-modal-title').text(data.name);
      $('#SketchModal').html(data);
    })
  });
</script>

<style>
#blue {
  background-color: #1ea1c7;
  margin-top: 3%;
  border-radius: 10px;
}

#blue .btn {
  background-color: #ce5f00;
}

#blue h4 {
  font-size: 40px;
}

.active_in_page {
  background-color: #d67a07;
}

/*  .image-bg-fluid-height {
    width: 100%;
    height: 400px;
    background: url('/hero_images/male_dancer.png') no-repeat center center scroll;
    background-attachment: fixed;
    padding: 0;
}
*/
  

  .thumbnail_slide_like_button_container {
  /* float: right;
   position: absolute; 
   padding-right: 0;
   padding-top: 0%;*/
   /*float: right;*/
   /* right: 10px;
    position: absolute;
    padding-right: 0;
    padding-top: 0%;
    top: 0;
    z-index: 300;*/
        right: 10px;
    width: 10%;
    position: absolute;
    padding-right: 0;
    padding-top: 0%;
    top: 0;
    height: 30%;
    z-index: 300;
  }

  .slide_name_container {
    overflow-y: hidden;
    height: 10%;
  } 

  .search_bar {
    width: 100%;
  }

  .to-the-side-bar {
    /*height: 100%;*/
    padding-left: 0%;
    overflow-y: scroll;
  }

  #blue .container .row .col-lg-8 {
    padding-left: 0%;
  }



@media only screen and (max-width: 600px) { 
/*@media only screen and (min-device-width: 320px) and (max-device-width: 480px){*/

    .main-the-bar {
      width: 100%;
    }

    .to-the-side-bar {
      display: none;
    }

  /*}*/
</style>


<!-- Sketcxh Modal -->
<div id="SketchModal" class="modal fade" role="dialog">
  
</div>

<!-- chat rooms -->

<div id="chatRoom" class="modal fade" role="dialog">
</div>

<div id="chatRoomList" class="modal fade" role="dialog">
</div>

<div id="createChatRoom" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Chatroom</h4>
      </div>
      <div class="modal-body">
        <form id='create_new_room_form'>
          <input type="text" class='form-control create_room_input' placeholder="Chatroom title" name="title" id='title_in' style='width: 100%'>
          <input type="text" class='form-control create_room_input' placeholder="Chatroom description" name="description" id='desc_in' style='height: 10%;width: 100%;'>
          <input type="submit" class="btn btn-default" value="create room">
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close_button" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  var lobbyDispatcher = null;
  var roomDispatcher = null;
 


  $('body').on('click', '#list_chat_rooms', function(event) {
    event.preventDefault();
    $.ajax({
      url: '/chatrooms',
    })
    .done(function(data) {
      $('#chatRoomList').html(data);
      $('#chatRoomList').modal('show');
      lobbyDispatcher = new WebSocketRails("<%= ENV['CHAT_SERVER'] %>");
      var addRoomToDom = function(chatroom) {

        // if there is something in the search bar: run the keyup event in the search bar
        if ($("#chatroom_search").val() == "") {
          var html = "<div class='chatroom_container'><h4>" + chatroom.title + ". <a href='/chatrooms/" + chatroom.id + "' id='" + chatroom.id + "' class='join_this_room btn btn-info btn-sm'>Join</a></h4><p clas='chatroom_desc'>" + chatroom.description + "</p></div>"
          $(".chatroom_pool").append(html);
        } else {
          $("#chatroom_search").trigger('keyup');
        }

        console.log('just received new chatroom: ' + chatroom);
      }

      var closedConnectLobby = function(data) {
            console.log('lobby closed', data);
      }
      lobbyDispatcher.on_open = function(data) {
        console.log('Connection has been established: ', data);
      }

     $('body').on('click', '.close-chat-room', function(event) {
        lobbyDispatcher.unsubscribe();
        lobbyDispatcher.disconnect();
      });

      var channel = lobbyDispatcher.subscribe('chat_lobby');
      channel.bind('create_room_success', addRoomToDom);
      channel.bind('connection_closed', closedConnectLobby);

      $('body').on('submit', '#create_new_room_form', function(event) {
        event.preventDefault();
        var mess = {title: $('#title_in').val(), description: $('#desc_in').val()};
        lobbyDispatcher.trigger('messages.create_room', mess);
        // clear the input fields
        $(this).trigger('reset');
        // close the modal
        $("#createChatRoom").modal('hide');
        // enter the current user into the made up room mess['id']
      });
    })    
  });

    // joining a room
    var connection;

     $('body').on('click', '.join_this_room', function(event) {
       event.preventDefault();
       var room_id = $(this).attr('id');
      $(".modal").modal('hide');
      $("#chatRoom").text('Loading ....');
      $("#chatRoom").modal('show');
      lobbyDispatcher.disconnect();
      connection = room_id;
       $.ajax({
         url: '/chatrooms/' + room_id,
       })
       .done(function(data) {
          $("#chatRoom").html(data);
          scroll_down();
          roomDispatcher = new WebSocketRails('<%= ENV["CHAT_SERVER"] %>');
          var connectionID;
          var roomChannel;
          var room_create_success;
          var chat_room_conn;

          // adding a comment to the dom
          var addCommentToDom = function(message) {
            $.ajax({
              url: '/chatrooms/get_user_sig',
              data: {mess: message.content, display_pointer: 'none', connection_id: connectionID},
            })
            .done(function(data) {
              $("#chat_log").append(data);
              var elem = $(".dialog_row").last();
              
              var connection_ID = elem.attr('connection_id');
              $('.row_' + connection_ID).addClass('my_dialog');
              elem.fadeIn('500', function() {
                scroll_down();
              });
            })
            
            console.log('just received new message: ' + message);
          }

          var addUserToDom = function(user){
            var memberName = user.name;
            $("#member_current_list").append("<li id='user_list_"+user.id+"'>" + memberName + "</li>");
          }

          var removeUserFromRoom = function(user){
            $("#member_current_list").remove("#user_list_"+user.id);
          }


          var addErr = function(message) {
            console.log('just received new message: ' + message);
          }

          var closedConnectRoom = function(data) {
            console.log('closed', data);
          }


          roomDispatcher.on_open = function(data) {
            console.log('Connection has been established: ', data);
            connectionID = data.connection_id;
            chat_room_conn = 'chat_room' + connection;
            roomChannel = roomDispatcher.subscribe(chat_room_conn);
            room_create_success = chat_room_conn + '_created';
            roomChannel.bind(room_create_success, addCommentToDom);
            roomChannel.bind('add_user_to_room' + connection, addUserToDom);
            roomChannel.bind('remove_user_from_room' + connection, removeUserFromRoom);
          }

          roomDispatcher.on_close = function(data) {
            console.log('Connection has been closed: ', data);
          }

          $('body').on('click', '.close-chat-room', function(event) {
            if (roomDispatcher !== null) {
              roomDispatcher.disconnect();
            }
          });

          $('body').on('keydown', '#dialog_say', function(event) {
            if (event.which == 13) {
              event.preventDefault();
              var obj = {content: $('#dialog_say').val(), room: "chat_room" + connection, connection: connectionID, room_id: connection}
              roomDispatcher.trigger('messages.create', obj)
              $(this).val('');
            } else {
              $.ajax({
                url: '/chatrooms/user_typing',
                data: {room_id: connection}
              })
            }
         })

     })
   })


  var scroll_down = function(){      
     var elem = document.getElementById('chat_log');
     if (elem !== null) {
       elem.scrollTop = elem.scrollHeight;
     }
  }


  // search for rooms
  $('body').on('keyup', '#chatroom_search', function(event) {
    $.ajax({
      url: '/chatrooms/chat_room_search',
      data: {search: $(this).val()},
    })
    .done(function(data) {
      $('.chatroom_pool').html(data);
    })    
  });
</script>


<style type="text/css">
  #list_chat_rooms {
    background-color: #1ea1c7;
    font-weight: bold;
    color: white;
    /*border-radius: 20px;  */
  }
  #chatroom_search {
    margin-bottom: 20px;
  }
  .chatroom_container {
    background-color: #fff7e9;
    padding: 12px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: auto;
    margin-right: 10px;  }

    #create_new_room {
      float: left;
    }

    .join_this_room {
      position: relative;
      float: right;
      width: : 30%;
    }

    .delete_this_room {
      position: relative;
      float: right;
      width: : 30%;
      margin-right: 4px;
    }


    .chatroom_desc {
      max-height: 70%;
      overflow-y: scroll;
    }

    .chatroom_pool {
      max-height: 60%;
      overflow-y: scroll;
    }
</style>
